<!doctype html>
<html>
    <head>
        <title>Python App</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% if user %}
        Olá, {{user.nickname()}}.
        {% else %}
        Olá, visitante.
        {% endif %}
        Clique para fazer <a href="{{ url|safe }}">{{ texto_link }}</a>
		<form method='POST'>
		    <input type="text" placeholder="Cole o link de uma imagem aqui" name='url'> <br/>
		    <textarea name='texto'></textarea> <br/>
		    <input type="submit">
		</form>
		
		{% for r in recados %}
		<div>
			<b>{{r.autor}}</b> em {{r.data}} escreveu: <br>
			"{{r.texto}}"<br>
			{% if r.imagem %}
			<img src="/img/{{r.key.urlsafe()}}"><br><br>
			{% endif %}
		</div>
		{% endfor %}
    </body>
</html>