<!doctype html>
<html>
    <head>
        <title>Python App</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        Hello, {{user.nickname()}}.
        Click to <a href="{{ url|safe }}">logout</a>
		<form method='POST'>
		    <input type="text" placeholder="Paste image link..." name='url'> <br/>
		    <textarea name='text'></textarea> <br/>
		    <input type="submit">
		</form>
		
		{% for p in posts %}
		<div>
			<b>{{p.author}}</b> in {{p.date}} wrote: <br>
			"{{p.text}}"<br>
			{% if p.image %}
			<img src="/img/{{p.key.urlsafe()}}"><br><br>
			{% endif %}
		</div>
		{% endfor %}
    </body>
</html>